<div data-role="popup" id="popup_gpio_module_raspberrypi" data-position-to="window" data-transition="flip" data-theme="a" and data-overlay-theme="a" data-dismissible="true" class="ui-content">
	<form id="form_raspberrypi">
		<h3 class="boxtitle ui-title">
			<span style="vertical-align:middle"><img src="./images/chip_title_32.png"></span>
			<TMPL_VAR GPIOS.LABEL_TITLE_GPIOMODULE>: raspberrypi
		</h3>

		<div class="box">
			<div class="boxrow">
					<div class="boxitem small" style="width: 15%">
						<TMPL_VAR COMMON.LABEL_NAME>	
					</div>
					<div class="boxitem" style="width:75%">
						<input type="text" id="name_raspberrypi" data-mini="true" value="" placeholder="<TMPL_VAR COMMON.LABEL_NAME_HINT>">
					</div>
			</div>
			<div class="boxrow">
					<div class="boxitem small" style="width: 90%">
						<input type="hidden" id="edit_raspberrypi" value="">
						<input type="hidden" id="module_raspberrypi" value="raspberrypi">
						<a href="#" onclick="add_gpiomodule('raspberrypi'); return false;" class="ui-btn ui-btn-inline ui-mini ui-btn-icon-left ui-icon-check ui-corner-all"><TMPL_VAR "COMMON.BUTTON_SAVE"></a>
						<a href="#" class="ui-btn ui-btn-inline ui-mini ui-btn-icon-left ui-icon-delete ui-corner-all" data-rel="back"><TMPL_VAR COMMON.BUTTON_CANCEL></a>
					</div>
			</div>
			<div class="boxrow">
					<div class="boxitem small" style="width: 90%">
						<span id="savinghint_raspberrypi">&nbsp;</span>
					</div>
			</div>
		</div>
	</form>
</div>

