<style>
.datahidden {
	display:none;
}

.tiny {
	font-size:70%;
}

.small {
	font-size:80%;
}

.middle {
	font-size:120%;
}

.big {
	font-size:250%;
}

.large {
	font-size:400%;
}

.bold {
	font-weight: bold;
}

.grayed {
	color: gray;
}

.center {
	text-align: center;
}

.grid {
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
	grid-column-gap: 15px;
	grid-row-gap: 15px;
	text-shadow: none;
}

.box { 
	border: 1px solid black;
	border-radius: 5px 5px 5px 5px;
	padding: 5px;
}

.boxtitle {
	background-color: #6dac20;
	color: white;
	text-shadow: 1px 1px 2px black;
	border-radius: 5px 5px 5px 5px;
	padding: 5px;
	vertical-align: middle;
}

.boxrow {
	display: flex;
	flex-flow: row wrap;
	justify-content: center;
	align-items: center;
	padding: 0;
	margin: 0;
}

.boxitem {
	padding: 5px;
	text-align: center;
	vertical-align: middle;
}

.servicestatus {
	display: grid;
	grid-template-columns: auto auto auto auto;
	grid-template-rows: 1fr;
	gap: 0px 10px;
	justify-content: center;
	justify-items: center;
	align-items: center;
	text-shadow: none;
}

.margin {
	margin: 10px;
}

.status {
	padding: 7px;
	box-sizing: border-box;
	border-radius: 5px 5px 5px 5px;
	background: #dfdfdf;
	border: 1px solid #7E7E7E;
	width: 170px;
	text-align: center;
}

.ui-popup-container
{
	width:  50%;
	height: 80%;
}

</style>

<div class="servicestatus">
	<div>
		<TMPL_VAR "ATLAS.LABEL_SERVICE">
	</div>
	<div id="servicestatusicon">
		<img src="./images/unknown_20.png">
	</div>
	<div class="status" id="servicestatus">
		<TMPL_VAR "COMMON.HINT_UNKNOWN">
	</div>
	<div>
		<a href="#" onclick="servicerestart(); return false;" class="ui-btn ui-btn-inline ui-mini ui-btn-icon-left ui-icon-check ui-corner-all"><TMPL_VAR "COMMON.BUTTON_RESTART"></a>
		<a href="#" onclick="servicestop(); return false;" class="ui-btn ui-btn-inline ui-mini ui-btn-icon-left ui-icon-delete ui-corner-all"><TMPL_VAR "COMMON.BUTTON_STOP"></a>
	</div>

</div>

<br>

<div class="grid">
	<div>
		<h2 class="boxtitle ui-title">
			<span style="vertical-align:middle"><img src="./images/input_title_32.png"></span>
			<TMPL_VAR "ATLAS.LABEL_SENSORS">
		</h2>
		<div class="box">
			<div class="boxrow">
					<div class="boxitem">
							<a href="#" onclick="popup_add_sensor(); return false;" class="ui-btn ui-btn-inline ui-mini ui-btn-icon-left ui-icon-plus ui-corner-all"><TMPL_VAR "COMMON.BUTTON_ADD"></a>
					</div>
					<div class="boxitem small">
						&nbsp;&nbsp;<a href="#" onclick="window.open('./scan_i2c.cgi', 'NewWindow1','scrollbars=true,toolbar=no,location=no,directories=no,status=no,menubar=no,copyhistory=no,width=800,height=800')" class="ui-btn ui-btn-inline ui-mini ui-btn-icon-left ui-icon-search ui-corner-all"><TMPL_VAR "ATLAS.BUTTON_SCANBUS"></a>
					</div>
			</div>
			<div class="boxrow">
					<div class="boxitem" style="width:500px">
						<!-- Table -->
						<div id="sensors-list"></div>
					</div>
			</div>
		</div>
	</div>
	<div>
		<h2 class="boxtitle ui-title">
			<span style="vertical-align:middle"><img src="./images/output_title_32.png"></span>
			<TMPL_VAR "ATLAS.LABEL_ACTORS">
		</h2>
		<div class="box">
			<div class="boxrow">
					<div class="boxitem">
							<a href="#" onclick="popup_add_actor(); return false;" class="ui-btn ui-btn-inline ui-mini ui-btn-icon-left ui-icon-plus ui-corner-all"><TMPL_VAR "COMMON.BUTTON_ADD"></a>
					</div>
					<div class="boxitem small">
						&nbsp;&nbsp;<a href="#" onclick="window.open('./scan_i2c.cgi', 'NewWindow1','scrollbars=true,toolbar=no,location=no,directories=no,status=no,menubar=no,copyhistory=no,width=800,height=800')" class="ui-btn ui-btn-inline ui-mini ui-btn-icon-left ui-icon-search ui-corner-all"><TMPL_VAR "ATLAS.BUTTON_SCANBUS"></a>
					</div>
			</div>
			<div class="boxrow">
					<div class="boxitem" style="width:500px">
						<!-- Table -->
						<div id="actors-list"></div>
					</div>
			</div>
		</div>
	</div>
</div>

<div data-role="popup" id="popup_delete_sensor" data-position-to="window" data-transition="flip" data-theme="a" and data-overlay-theme="a" data-dismissible="true" class="ui-content">
		<h3 class="boxtitle ui-title">
			<TMPL_VAR SENSORS.LABEL_DELETE_SENSOR>?
		</h3>

		<div class="box">
			<div class="boxrow">
					<div class="boxitem">
						<TMPL_VAR SENSORS.HINT_DELETE_SENSOR_1> <b><span id="deletesensorname">&nbsp;</span></b> <TMPL_VAR SENSORS.HINT_DELETE_SENSOR_2>	
					</div>
			</div>
			<br>
			<div class="boxrow">
					<div class="boxitem small" style="width: 90%">
						<a href="#" class="ui-btn ui-btn-inline ui-mini ui-btn-icon-left ui-icon-delete ui-corner-all" data-rel="back"><TMPL_VAR COMMON.BUTTON_CANCEL></a>
						<a href="#" onclick="delete_sensor(); return false;" class="ui-btn ui-btn-inline ui-mini ui-btn-icon-left ui-icon-check ui-corner-all"><TMPL_VAR "COMMON.BUTTON_DELETE"></a>
					</div>
			</div>
			<div class="boxrow">
					<div class="boxitem small" style="width: 90%">
						<span id="deletesensorhint">&nbsp;</span>
					</div>
			</div>
		</div>
</div>

<div data-role="popup" id="popup_add_sensor" data-position-to="window" data-transition="flip" data-theme="a" and data-overlay-theme="a" data-dismissible="true" class="ui-content">
	<form id="form_add_sensor">
		<h3 class="boxtitle ui-title">
			<span style="vertical-align:middle"><img src="./images/chip_title_32.png"></span>
			<TMPL_VAR SENSORS.LABEL_TITLE_SENSOR>
		</h3>

		<div class="box">
			<div class="boxrow">
					<div class="boxitem small" style="width: 15%">
						<TMPL_VAR COMMON.LABEL_NAME>	
					</div>
					<div class="boxitem" style="width:75%">
						<input type="text" id="name_sensor" data-mini="true" value="" placeholder="<TMPL_VAR COMMON.LABEL_NAME_HINT>">
					</div>
			</div>
			<div class="boxrow">
					<div class="boxitem small" style="width: 15%">
						<TMPL_VAR COMMON.LABEL_TYPE>	
					</div>
					<div class="boxitem" style="width:75%">
						<select name="type_sensor" id="type_sensor" data-mini="true">
							<option value="FLO">FLO</option>
							<option value="ORP">ORP</option>
							<option value="pH">pH</option>
							<option value="PRS">PRS</option>
							<option value="RTD">RTD</option>
						</select>
					</div>
			</div>
			<div class="boxrow">
					<div class="boxitem small" style="width: 15%">
						<TMPL_VAR COMMON.LABEL_ADDRESS>	
					</div>
					<div class="boxitem" style="width:75%">
						<input type="text" id="address_sensor" data-mini="true" value="" placeholder="<TMPL_VAR COMMON.LABEL_ADDRESS_HINT>">
					</div>
			</div>
			<div class="boxrow">
					<div class="boxitem small" style="width: 15%">
					</div>
					<div class="boxitem" style="width:75%">
						<input type="checkbox" name="cal_sensor" id="cal_sensor" data-mini="true">
						<label for="cal_sensor"><TMPL_VAR COMMON.LABEL_CAL></label>
					</div>
			</div>
			<div class="boxrow">
					<div class="boxitem small" style="width: 15%">
						<TMPL_VAR COMMON.LABEL_CALMID>	
					</div>
					<div class="boxitem" style="width:75%">
						<input type="text" id="calmid_sensor" data-mini="true" value="" placeholder="<TMPL_VAR COMMON.LABEL_CALMID_HINT>">
					</div>
			</div>
			<div class="boxrow">
					<div class="boxitem small" style="width: 15%">
						<TMPL_VAR COMMON.LABEL_CALLOW>	
					</div>
					<div class="boxitem" style="width:75%">
						<input type="text" id="callow_sensor" data-mini="true" value="" placeholder="<TMPL_VAR COMMON.LABEL_CALLOW_HINT>">
					</div>
			</div>
			<div class="boxrow">
					<div class="boxitem small" style="width: 15%">
						<TMPL_VAR COMMON.LABEL_CALHIGH>	
					</div>
					<div class="boxitem" style="width:75%">
						<input type="text" id="calhigh_sensor" data-mini="true" value="" placeholder="<TMPL_VAR COMMON.LABEL_CALHIGH_HINT>">
					</div>
			</div>
			<div class="boxrow">
					<div class="boxitem small" style="width: 15%">
					</div>
					<div class="boxitem" style="width:75%">
						<input type="checkbox" name="lcd_sensor" id="lcd_sensor" data-mini="true">
						<label for="lcd_sensor"><TMPL_VAR SENSORS.LABEL_LCD></label>
					</div>
			</div>
			<div class="boxrow">
					<div class="boxitem small" style="width: 15%">
						<TMPL_VAR COMMON.LABEL_LCDUNIT>	
					</div>
					<div class="boxitem" style="width:75%">
						<input type="text" id="lcdunit_sensor" data-mini="true" value="" placeholder="<TMPL_VAR COMMON.LABEL_LCDUNIT_HINT>">
					</div>
			</div>
			<div class="boxrow">
					<div class="boxitem small" style="width: 15%">
						<TMPL_VAR COMMON.LABEL_LCDVALUE>	
					</div>
					<div class="boxitem" style="width:75%">
						<select name="lcdvalue_sensor" id="lcdvalue_sensor" data-mini="true">
							<option value="value1">value1</option>
							<option value="value2">value2</option>
							<option value="value3">value3</option>
						</select>
					</div>
			</div>
			<div class="boxrow">
					<div class="boxitem small" style="width: 90%">
						<input type="hidden" id="edit_sensor" value="">
						<a href="#" onclick="add_sensor(); return false;" class="ui-btn ui-btn-inline ui-mini ui-btn-icon-left ui-icon-check ui-corner-all"><TMPL_VAR "COMMON.BUTTON_SAVE"></a>
						<a href="#" class="ui-btn ui-btn-inline ui-mini ui-btn-icon-left ui-icon-delete ui-corner-all" data-rel="back"><TMPL_VAR COMMON.BUTTON_CANCEL></a>
						&nbsp;&nbsp;<a href="#" onclick="window.open('./scan_i2c.cgi', 'NewWindow1','scrollbars=true,toolbar=no,location=no,directories=no,status=no,menubar=no,copyhistory=no,width=800,height=800')" class="ui-btn ui-btn-inline ui-mini ui-btn-icon-left ui-icon-search ui-corner-all"><TMPL_VAR "ATLAS.BUTTON_SCANBUS"></a>
					</div>
			</div>
			<div class="boxrow">
					<div class="boxitem small" style="width: 90%">
						<span id="savinghint_sensor">&nbsp;</span>
					</div>
			</div>
		</div>
	</form>
</div>

<div data-role="popup" id="popup_delete_actor" data-position-to="window" data-transition="flip" data-theme="a" and data-overlay-theme="a" data-dismissible="true" class="ui-content">
		<h3 class="boxtitle ui-title">
			<TMPL_VAR ACTORS.LABEL_DELETE_ACTOR>?
		</h3>

		<div class="box">
			<div class="boxrow">
					<div class="boxitem">
						<TMPL_VAR ACTORS.HINT_DELETE_ACTOR_1> <b><span id="deleteactorname">&nbsp;</span></b> <TMPL_VAR ACTORS.HINT_DELETE_ACTOR_2>	
					</div>
			</div>
			<br>
			<div class="boxrow">
					<div class="boxitem small" style="width: 90%">
						<a href="#" class="ui-btn ui-btn-inline ui-mini ui-btn-icon-left ui-icon-delete ui-corner-all" data-rel="back"><TMPL_VAR COMMON.BUTTON_CANCEL></a>
						<a href="#" onclick="delete_actor(); return false;" class="ui-btn ui-btn-inline ui-mini ui-btn-icon-left ui-icon-check ui-corner-all"><TMPL_VAR "COMMON.BUTTON_DELETE"></a>
					</div>
			</div>
			<div class="boxrow">
					<div class="boxitem small" style="width: 90%">
						<span id="deleteactorhint">&nbsp;</span>
					</div>
			</div>
		</div>
</div>

<div data-role="popup" id="popup_add_actor" data-position-to="window" data-transition="flip" data-theme="a" and data-overlay-theme="a" data-dismissible="true" class="ui-content">
	<form id="form_add_actor">
		<h3 class="boxtitle ui-title">
			<span style="vertical-align:middle"><img src="./images/chip_title_32.png"></span>
			<TMPL_VAR ACTORS.LABEL_TITLE_ACTOR>
		</h3>

		<div class="box">
			<div class="boxrow">
					<div class="boxitem small" style="width: 15%">
						<TMPL_VAR COMMON.LABEL_NAME>	
					</div>
					<div class="boxitem" style="width:75%">
						<input type="text" id="name_actor" data-mini="true" value="" placeholder="<TMPL_VAR COMMON.LABEL_NAME_HINT>">
					</div>
			</div>
			<div class="boxrow">
					<div class="boxitem small" style="width: 15%">
						<TMPL_VAR COMMON.LABEL_TYPE>	
					</div>
					<div class="boxitem" style="width:75%">
						<select name="type_actor" id="type_actor" data-mini="true">
							<option value="PMP">PMP</option>
						</select>
					</div>
			</div>
			<div class="boxrow">
					<div class="boxitem small" style="width: 15%">
						<TMPL_VAR COMMON.LABEL_ADDRESS>	
					</div>
					<div class="boxitem" style="width:75%">
						<input type="text" id="address_actor" data-mini="true" value="" placeholder="<TMPL_VAR COMMON.LABEL_ADDRESS_HINT>">
					</div>
			</div>
			<div class="boxrow">
					<div class="boxitem small" style="width: 15%">
					</div>
					<div class="boxitem" style="width:75%">
						<input type="checkbox" name="cal_actor" id="cal_actor" data-mini="true">
						<label for="cal_actor"><TMPL_VAR COMMON.LABEL_CAL></label>
					</div>
			</div>
			<div class="boxrow">
					<div class="boxitem small" style="width: 15%">
						<TMPL_VAR COMMON.LABEL_CALMID>	
					</div>
					<div class="boxitem" style="width:75%">
						<input type="text" id="calmid_actor" data-mini="true" value="" placeholder="<TMPL_VAR COMMON.LABEL_CALMID_HINT>">
					</div>
			</div>
			<div class="boxrow">
					<div class="boxitem small" style="width: 15%">
						<TMPL_VAR COMMON.LABEL_CALLOW>	
					</div>
					<div class="boxitem" style="width:75%">
						<input type="text" id="callow_actor" data-mini="true" value="" placeholder="<TMPL_VAR COMMON.LABEL_CALLOW_HINT>">
					</div>
			</div>
			<div class="boxrow">
					<div class="boxitem small" style="width: 15%">
						<TMPL_VAR COMMON.LABEL_CALHIGH>	
					</div>
					<div class="boxitem" style="width:75%">
						<input type="text" id="calhigh_actor" data-mini="true" value="" placeholder="<TMPL_VAR COMMON.LABEL_CALHIGH_HINT>">
					</div>
			</div>
			<div class="boxrow">
					<div class="boxitem small" style="width: 15%">
					</div>
					<div class="boxitem" style="width:75%">
						<input type="checkbox" name="lcd_actor" id="lcd_actor" data-mini="true">
						<label for="lcd_actor"><TMPL_VAR ACTORS.LABEL_LCD></label>
					</div>
			</div>
			<div class="boxrow">
					<div class="boxitem small" style="width: 15%">
						<TMPL_VAR COMMON.LABEL_LCDUNIT>	
					</div>
					<div class="boxitem" style="width:75%">
						<input type="text" id="lcdunit_actor" data-mini="true" value="" placeholder="<TMPL_VAR COMMON.LABEL_LCDUNIT_HINT>">
					</div>
			</div>
			<div class="boxrow">
					<div class="boxitem small" style="width: 15%">
						<TMPL_VAR COMMON.LABEL_LCDVALUE>	
					</div>
					<div class="boxitem" style="width:75%">
						<select name="lcdvalue_actor" id="lcdvalue_actor" data-mini="true">
							<option value="value1">value1</option>
							<option value="value2">value2</option>
							<option value="value3">value3</option>
						</select>
					</div>
			</div>
			<div class="boxrow">
					<div class="boxitem small" style="width: 90%">
						<input type="hidden" id="edit_actor" value="">
						<a href="#" onclick="add_actor(); return false;" class="ui-btn ui-btn-inline ui-mini ui-btn-icon-left ui-icon-check ui-corner-all"><TMPL_VAR "COMMON.BUTTON_SAVE"></a>
						<a href="#" class="ui-btn ui-btn-inline ui-mini ui-btn-icon-left ui-icon-delete ui-corner-all" data-rel="back"><TMPL_VAR COMMON.BUTTON_CANCEL></a>
						&nbsp;&nbsp;<a href="#" onclick="window.open('./scan_i2c.cgi', 'NewWindow1','scrollbars=true,toolbar=no,location=no,directories=no,status=no,menubar=no,copyhistory=no,width=800,height=800')" class="ui-btn ui-btn-inline ui-mini ui-btn-icon-left ui-icon-search ui-corner-all"><TMPL_VAR "ATLAS.BUTTON_SCANBUS"></a>
					</div>
			</div>
			<div class="boxrow">
					<div class="boxitem small" style="width: 90%">
						<span id="savinghint_actor">&nbsp;</span>
					</div>
			</div>
		</div>
	</form>
</div>

