<script>

$(function() {
	
	interval = window.setInterval(function(){ servicestatus(); }, 5000);
	servicestatus();
	getconfig();

});

// SERVICE STATE

function servicestatus(update) {

	if (update) {
		$("#servicestatus").attr("style", "background:#dfdfdf").html("<TMPL_VAR "COMMON.HINT_UPDATING">");
		$("#servicestatusicon").html("<img src='./images/unknown_20.png'>");
	}

	$.ajax( { 
			url:  'ajax.cgi',
			type: 'POST',
			data: { 
				action: 'servicestatus'
			}
		} )
	.fail(function( data ) {
		console.log( "Servicestatus Fail", data );
		$("#servicestatus").attr("style", "background:#dfdfdf; color:red").html("<TMPL_VAR "COMMON.HINT_FAILED">");
		$("#servicestatusicon").html("<img src='./images/unknown_20.png'>");
	})
	.done(function( data ) {
		console.log( "Servicestatus Success", data );
		if (data.pid) {
			$("#servicestatus").attr("style", "background:#6dac20; color:black").html("<TMPL_VAR "COMMON.HINT_RUNNING"> <span class='small'>PID: " + data.pid + "</span>");
			$("#servicestatusicon").html("<img src='./images/check_20.png'>");
		} else {
			$("#servicestatus").attr("style", "background:#FF6339; color:black").html("<TMPL_VAR "COMMON.HINT_STOPPED">");
			$("#servicestatusicon").html("<img src='./images/error_20.png'>");
		}
	})
	.always(function( data ) {
		console.log( "Servicestatus Finished", data );
	});
}

// SERVICE START_STOP

function servicerestart() {

	clearInterval(interval);
	$("#servicestatus").attr("style", "color:blue").html("<TMPL_VAR "COMMON.HINT_EXECUTING">");
	$("#servicestatusicon").html("<img src='./images/unknown_20.png'>");
	$.ajax( { 
			url:  'ajax.cgi',
			type: 'POST',
			data: { 
				action: 'servicerestart'
			}
		} )
	.fail(function( data ) {
		console.log( "Servicerestart Fail", data );
	})
	.done(function( data ) {
		console.log( "Servicerestart Success", data );
		if (data == "0") {
			servicestatus(1);
		} else {
			$("#servicestatus").attr("style", "background:#dfdfdf; color:red").html("<TMPL_VAR "COMMON.HINT_FAILED">");
		}
		interval = window.setInterval(function(){ servicestatus(); }, 5000);
	})
	.always(function( data ) {
		console.log( "Servicerestart Finished", data );
	});
}

// ADD GPIO MODULE: Popup

function popup_add_gpiomodule() {

	var module = $('#gpio_module').val();
	$( "#popup_gpio_module_" + module ).popup( "open" )

}

// EDIT GPIO MODULE: Popup

function popup_edit_gpiomodule(modulename) {

	// Ajax request
	$.ajax({ 
		url:  'ajax.cgi',
		type: 'POST',
		data: {
			action: 'getconfig'
		}
	})
	.fail(function( data ) {
		console.log( "edit_gpiomodule Fail", data );
		return;
	})
	.done(function( data ) {
		console.log( "edit_gpiomodule Success", data );

		modules = data.gpio_modules;
		if ( data.error || jQuery.isEmptyObject(modules)) {
			modules = undefined;
			return;
		}
		$.each( modules, function( intDevId, item){
			if (item.name == modulename) {
				$("#name_" + item.module).val(item.name);
                                $("#module_" + item.module).val(item.module);
                                $("#edit_" + item.module).val('1');
				$("#popup_gpio_module_" + item.module ).popup( "open" );
			}
		});
	})
	.always(function( data ) {
		console.log( "edit_gpiomodule Finished" );
	})

}

// ADD/EDIT GPIO MODULE (save to config)

function add_gpiomodule(module) {

	$("#savinghint_" + module).attr("style", "color:blue").html("<TMPL_VAR "COMMON.HINT_SAVING">");
	$.ajax( { 
			url:  'ajax.cgi',
			type: 'POST',
			data: { 
				action: 'gpiomodule',
				name: $("#name_" + module).val(),
				module: $("#module_" + module).val(),
				edit: $("#edit_" + module).val(),
			}
		} )
	.fail(function( data ) {
		console.log( "add_gpiomodule Fail", data );
		var jsonresp = JSON.parse(data.responseText);
		$("#savinghint_" + module).attr("style", "color:red").html("<TMPL_VAR "COMMON.HINT_SAVING_FAILED">" + " Error: " + jsonresp.error + " (Statuscode: " + data.status + ").");
	})
	.done(function( data ) {
		console.log( "add_gpiomodule Done", data );
		if (data.error) {
			$("#savinghint_" + module).attr("style", "color:red").html("<TMPL_VAR "COMMON.HINT_SAVING_FAILED">" + " Error: " + data.error + ").");
		} else {
			$("#savinghint_" + module).attr("style", "color:green").html("<TMPL_VAR "COMMON.HINT_SAVING_SUCCESS">" + ".");
			getconfig();
			// Clean Popup
			$("#popup_gpio_module_" + module).popup( "close" );
			$("#name_" + module).val('');
			$("#savinghint_" + module).html('&nbsp;');
		}
	})
	.always(function( data ) {
		console.log( "add_gpiomodule Finished", data );
	});

}

// DELETE GPIO MODULE: Popup

function popup_delete_gpiomodule(modulename) {

	$("#deletegpiomodulehint").html('&nbsp;');
	$("#deletemodulename").html(modulename);
	$( "#popup_delete_gpio_module" ).popup( "open" )

}

// DELETE GPIO MODULE (save to config)

function delete_gpiomodule() {

	$("#deletegpiomodulehint").attr("style", "color:blue").html("<TMPL_VAR "COMMON.HINT_DELETING">");
	$.ajax( { 
			url:  'ajax.cgi',
			type: 'POST',
			data: { 
				action: 'deletegpiomodule',
				name: $("#deletemodulename").html(),
			}
		} )
	.fail(function( data ) {
		console.log( "delete_gpiomodule Fail", data );
		var jsonresp = JSON.parse(data.responseText);
		$("#deletegpiomodulehint").attr("style", "color:red").html("<TMPL_VAR "COMMON.HINT_DELETING_FAILED">" + " Error: " + jsonresp.error + " (Statuscode: " + data.status + ").");
	})
	.done(function( data ) {
		console.log( "delete_gpiomodule Done", data );
		if (data.error) {
			$("#deletegpiomodulehint").attr("style", "color:red").html("<TMPL_VAR "COMMON.HINT_DELETING_FAILED">" + " Error: " + data.error + ").");
		} else {
			$("#deletegpiomodulehint").attr("style", "color:green").html("<TMPL_VAR "COMMON.HINT_SAVING_SUCCESS">" + ".");
			getconfig();
			// Clean Popup
			$("#popup_gpio_module_" + module).popup( "close" );
		}
	})
	.always(function( data ) {
		console.log( "add_gpiomodule Finished", data );
	});

}

// GET CONFIG

function getconfig() {

	// Ajax request
	$.ajax({ 
		url:  'ajax.cgi',
		type: 'POST',
		data: {
			action: 'getconfig'
		}
	})
	.fail(function( data ) {
		console.log( "getconfig Fail", data );
	})
	.done(function( data ) {
		console.log( "getconfig Success", data );
		$("#main").css( 'visibility', 'visible' );

		// GPIO Modules

		console.log( "Parse Item for GPIO_MODULES" );
		modules = data.gpio_modules;
		$('#gpiomodules-list').empty();
		if ( data.error || jQuery.isEmptyObject(modules)) {
			$('#gpiomodules-list').html("<TMPL_VAR GPIOS.HINT_NO_MODULES>");
			modules = undefined;
			return;
		}
		// Create table
		var table = $('<table style="min-width:200px; width:100%" width="100%" data-role="table" id="gpiomodulestable" data-mode="reflow" class="ui-responsive table-stripe ui-body-b">').appendTo('#gpiomodules-list');
		// Add the header row
		var theader = $('<thead />').appendTo(table);
		var theaderrow = $('<tr class="ui-bar-b"/>').appendTo(theader);
		$('<th style="text-align:left; width:40%; padding:5px;"><TMPL_VAR COMMON.LABEL_NAME><\/th>').appendTo(theaderrow);
		$('<th style="text-align:left; width:40%; padding:5px;"><TMPL_VAR GPIOS.LABEL_MODULE><\/th>').appendTo(theaderrow);
		$('<th style="text-align:left; width:20%; padding:5px;"><TMPL_VAR COMMON.LABEL_ACTIONS><\/th>').appendTo(theaderrow);
		// Create table body.
		var tbody = $('<tbody />').appendTo(table);
		// Add the data rows to the table body.
		$.each( modules, function( intDevId, item){
			var row = $('<tr />').appendTo(tbody);
			$('<td style="text-align:left;">'+item.name+'<\/td>').appendTo(row);
			$('<td style="text-align:left;">'+item.module+'<\/td>').appendTo(row);
			$('<td />', { html: '\
			<a href="javascript:popup_edit_gpiomodule(\'' + item.name + '\')" id="btneditgpiomodule_'+item.name+'" name="btneditgpiomodule_'+item.address+'" \
                        title="<TMPL_VAR COMMON.BUTTON_EDIT> ' + item.name + '"> \
                        <img src="./images/settings_20.png" height="20"></img></a> \
                        \
                        <a href="javascript:popup_delete_gpiomodule(\'' + item.name + '\')" id="btnaskdeletegpiomodule_'+item.name+'" name="btnaskdeletegpiomodule_'+item.name+'" \
                        title="<TMPL_VAR COMMON.BUTTON_DELETE> ' + item.name + '"> \
                        <img src="./images/cancel_20.png" height="20"></img></a> \
                        ' }).appendTo(row);
                        $(row).trigger("create");
		});
	})
	.always(function( data ) {
		console.log( "getconfig Finished" );
	})

}

</script>
